/* Using a Google Font (e.g., 'Stencil' or 'Roboto Condensed') */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body {
    /* Military style header */
    font-family: 'ITC Machine', 'Impact', sans-serif; 
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
    width: 800px;
    text-align: center;
    margin: auto;
}

#main-boards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.game-board {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex; 
    flex-wrap: wrap;
    
}

#player {
    background-color: rgb(4, 4, 87);
}

#computer {
    background-color: rgb(81, 1, 1)
}

.square {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}

#options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: orange;
    margin: 20px 0px 0px 0px;
}

#options-container > div {
    margin: auto;
}

.placed {
    background-color: aqua;
}

.destroyer {
    background-color: aqua;
}

.destroyer-option {
    height: 30px;
    width: 60px;
}


.submarine {
    background-color: pink;
}

.submarine-option {
    height: 30px;
    width: 90px;
}


.cruiser {
    background-color: gold;
}

.cruiser-option {
    height: 30px;
    width: 90px;
}

.battleship {
    background-color: aquamarine;
}

.battleship-option {
    height: 30px;
    width: 120px;
}

.carrier {
    background-color: rgb(31, 161, 31);
}

.carrier-option {
    height: 30px;
    width: 150px;
}

.hit {
    background-color: red !important;
}

.miss {
    background-color: rgb(149, 148, 148) !important;
}

#info {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#info.fade {
    opacity: 0;
}

#turn {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#turn.fade {
    opacity: 0;
}